<launch>
    <node pkg="image_view" name="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/usb_cam/image_raw" />
        <param name="autosize" value="true" />
    </node>

    <node pkg="manual_override" name="manual_override" type="manual_override" output="screen" />
</launch>
